@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
.header{
    height: 700px;
    background-color: blue;
    /* width: 100vh; */
    display: flex;
    justify-content: space-between;
}
.header-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.header-text h1{
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: 500;
    animation: text 3s 2;
}
.header-text a{
    padding: 10px 30px;
    background-color: lightcoral;
    border-radius: 5px;
}.header-text a:hover{
    box-shadow: 10px 10px 40px black;
}
.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-img img{
    width: 70%;
}

.card-section{
    margin-top: 100px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0% 10%;
}
.card{
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-bottom: 60px;
}
.card-img img{
    width: 100%;
}
.cluers h1{
    text-align: center;
    color: tomato;
    font-size: 45px;
    font-weight: 600;
}
.cluer{
    margin: 0 4%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cluer-img{
    width: 90%;
    align-items: center;
    padding-bottom: 20px;
}
.cluer-img img{
    width: 100%;
}

.latest-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blueviolet;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.footer-img{
    width: 40%;
}
.footer-img img{
    width: 90%;
}





@media (max-width: 999px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cluer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .latest-news iframe{
        width: 430px;
        height: 300px;
    }
    .footer-img{
        width: 50%;
    }
    .footer-img img{
        width: 100%;
    }
}

@keyframes text{
    0%{
        color: rgb(248, 68, 8);
    }
    30%{
        letter-spacing: 3px;
    }
}